* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul,
li{
    list-style: none;
}

input,
button {
  border: none;
  background-color: white;
}

.container {
  width: 80%;
}

.border {
  border: 2px solid red;
}





.btn__and--color{
    padding: 10px 25px;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 8px;
    background-color: #02897a;
    color: white;
    font-weight: 600;
}

.btn{
    padding: 10px 25px;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 8px;
    color: #02897a;
    font-weight: 600;
}

.btn-margin{
    margin-top: 22px;
}